<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd">

	<bean id="parrotDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${parrot.driverClassName}" />
		<property name="url" value="${parrot.url}" />
		<property name="username" value="${parrot.user}" />
		<property name="password" value="${parrot.password}" />
		<property name="initialSize" value="10" />
		<property name="maxActive" value="10" />
		<property name="maxIdle" value="20" />
		<property name="minIdle" value="10" />
		<property name="validationQuery">
			<value>SELECT 1</value>
		</property>
	</bean>
	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="parrotUnit" />
		<property name="dataSource" ref="parrotDataSource" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
			</bean>
		</property>

		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.c3p0.min_size" value="${default.hibernate.c3p0.min_size}" />
				<entry key="hibernate.c3p0.max_size" value="${default.hibernate.c3p0.max_size}" />
				<entry key="hibernate.c3p0.timeout" value="${default.hibernate.c3p0.timeout}" />
				<entry key="hibernate.c3p0.max_statements" value="${default.hibernate.c3p0.max_statements}" />
				<entry key="hibernate.dialect" value="${default.hibernate.dialect}" />
				<entry key="hibernate.max_fetch_depth" value="${default.hibernate.max_fetch_depth}" />
				<entry key="hibernate.default_batch_fetch_size" value="${default.hibernate.default_batch_fetch_size}" />
				<entry key="hibernate.id.new_generator_mappings" value="${default.hibernate.id.new_generator_mappings}" />
				<entry key="hibernate.hbm2ddl.auto" value="${default.hibernate.hbm2ddl.auto}" />
				<entry key="hibernate.show_sql" value="${default.hibernate.show_sql}" />
				<entry key="hibernate.format_sql" value="${default.hibernate.format_sql}" />
				<entry key="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy"></entry>
			</map>
		</property>
		<property name="packagesToScan">
			<list>
				<value>com.voole.parrot.shared</value>
			</list>
		</property>

	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
